//複数回出てくる色
$white-color:#fff;
$light-blue-color:#38aef0;
$gray-color:#434a54;
$light-gray-color:#999;

// 背景色指定用の変数
$flash-box-bkcolor: $light-blue-color;
$side-header-bkcolor: #253241;
$main-header-bkcolor: $white-color;
$groups-bkcolor:#2f3e51;
$messages-bkcolor:#fafafa;
$form-bkcolor:#ddd;